{#管理字段页面#}

{% extends '@TeebbCore/standard_layout.html.twig' %}

{% block head_label %}
    {{ 'teebb.core.fields.index'|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/fields/buttons/head_add_field_button.html.twig' with _context %}
{% endblock %}

{% block content %}
    <!-- FULL WIDTH Content -->
    <div class="full-width-wrapper">

        <!-- card body -->
        <div class="card shadow mb-4">
            {% include '@TeebbCore/fields/common/tab_card_title.html.twig' with _context %}
            <div class="card-body">
                <div class="table-responsive mt-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">标签</th>
                            <th scope="col">机读别名</th>
                            <th scope="col" class="d-none d-sm-table-cell">字段类型</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field.fieldLabel }}</td>
                                <td>{{ field.fieldAlias }}</td>
                                <td class="d-none d-sm-table-cell">{{ field.fieldType|trans }}</td>
                                <td class="text-nowrap">
                                    {% include '@TeebbCore/fields/buttons/row_manage_field_button.html.twig' with _context %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
{% endblock %}