{% extends '@TeebbCore/types/base_wrapper.html.twig' %}

{% block content %}
    <!-- FULL WIDTH Content -->
    <div class="full-width-wrapper">

        {% block top_help %}
            <!-- 提示 -->
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <i class="fas fa-info-circle"></i>
                <span class="small text-muted">{% block top_help_message %}{% endblock %}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endblock %}

        <!-- card body -->
        <div class="card shadow mb-4">
            {% include '@TeebbCore/types/common/card_title.html.twig' with _context %}
            <div class="card-body">
                {% block form_widget %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}