{% extends '@TeebbCore/types/base_wrapper.html.twig' %}

{% block content %}
    <!-- FULL WIDTH Content -->
    <div class="full-width-wrapper">
        <!-- 添加类型 -->
        <div class="card shadow mb-4">

            {% include '@TeebbCore/types/common/card_title.html.twig' with _context %}

            <div class="card-body">

                <div class="table-responsive mt-3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-nowrap">类型</th>
                            <th class="d-none d-md-table-cell">描述</th>
                            <th class="text-nowrap">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td class="text-nowrap"><a href="#">{{ item.label }}</a></td>
                                <td class="d-none d-md-table-cell">{{ item.description }}</td>

                                <td class="text-nowrap">
                                    {% block item_actions %}

                                    {% endblock %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
{% endblock %}