<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">
        {% if action in ['add_field', 'index_field', 'display_field'] %}
            {{ action|trans }}
        {% else %}
            {{ action|trans({'%field%': fieldConfig.fieldLabel}) }}
        {% endif %}
    </h6>
</div>