<div class="form-row">
    <div class="col-12">
        <button class="btn btn-primary btn-sm btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
            <span class="text">{% if action=='create' %}{{'teebb.core.form.save_add_field'|trans}}{% else %}{{ 'teebb.core.form.update'|trans }}{% endif %}</span>
        </button>
    </div>
</div>