
<a href="{{ path('teebb_comment_delete', {'id': comment.id, 'redirectBackURI': redirectBackURI }) }}">{{ 'delete'|trans }}</a>
<a href="{{ path('teebb_comment_reply_comment', {'id': comment.id, 'redirectBackURI': redirectBackURI }) }}">{{ 'reply'|trans }}</a>