{#content title#}
{# Todo: 需要动态创建dropdown actions. #}
{# Todo: 可增加annotation配置，在不同action下设置不同的操作，可在service中添加方法获取当前action对应的其他可用操作 #}

<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">{{ action|trans }}{% if subject is defined %}{{'" '~ subject.label ~' "'}}{% endif %}{{ trans_markup(label) }}</h6>
    {% block dropdown_actions %}
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" role="button" id="dropdownNewContentsMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-500"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownNewContentsMenuLink">
                {% include '@TeebbCore/types/common/dropdown_item.html.twig' with _context %}
            </div>
        </div>
    {% endblock %}
</div>