{#  Todo: 需要添加权限及获取可用操作  #}

<div class="btn-group btn-group-sm" role="group">
    <a href="{{ path('user_people_update', {'username':user.username}) }}"
       class="btn btn-primary text-white">{{ 'update'|trans }}</a>
</div>