<div class="card {{ settings.border }} shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    {{ settings.label|trans({}, settings.translation_domain) }}
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ count }}</div>
            </div>
            <div class="col-auto">
                <i class="{{ settings.icon }} fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>