{% set bundle = entity_type.bundle %}
{% import '@TeebbCore/macros.html.twig' as macro %}

{{ taxonomy.term }}

<ul>

    {% for content in paginator %}
        <li>
            <h1>{{ content.title }}</h1>
        </li>
    {% else %}
        {{ 'It is empty.'|trans }}
    {% endfor %}
</ul>

{# 页码 #}
    {% if paginator.haveToPaginate %}
        <div class="my-3">
            {{ pagerfanta(paginator, 'twitter_bootstrap4_translated') }}
        </div>
    {% endif %}

