{% extends '@TeebbCore/base_content.html.twig' %}

{% block head_label %}
    {{ 'teebb.core.content.create'|trans }}
{% endblock %}

{% block head_actions %}
    {% include '@TeebbCore/content/buttons/head_index_content_button.html.twig' %}
{% endblock %}

{% block card_title %}
    {% include '@TeebbCore/content/common/card_title.html.twig' with _context %}
{% endblock %}

{% block card_body %}
    <div class="col-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% include '@TeebbCore/content/buttons/form_submit_button.html.twig' with _context %}
        {{ form_end(form) }}
    </div>

{% endblock %}