<a href="{{ path('teebb_menu_create') }}"
   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-plus-circle fa-sm text-white-50 pr-2"></i>
    {{ 'create'|trans }}{{ 'Menu'|trans }}
</a>
