{#列表行字段按钮#}
{#Todo: 需要权限判断#}

{% set type = entity_type.EntityTypeMetadata.type %}
{% set typeAlias = app.request.get('alias') %}

<a href="{{ entity_type.pathInfoGenerator.generate( type ~ '_update_field', {'alias':typeAlias, 'fieldAlias': field.fieldAlias|replace({'_':'-'}) }) }}"
   class="btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-pen fa-sm text-white-50 pr-2"></i>编辑
</a>

<a href="{{ entity_type.pathInfoGenerator.generate( type ~ '_delete_field', {'alias':typeAlias, 'fieldAlias': field.fieldAlias|replace({'_':'-'}) }) }}"
   class="btn btn-sm btn-danger shadow-sm">
    <i class="fas fa-trash-alt fa-sm text-white-50 pr-2"></i>删除
</a>