{% extends '@TeebbCore/standard_layout.html.twig' %}

{% block content %}
    <!-- FULL WIDTH Content -->
    <div class="full-width-wrapper">

        {% block top_help %}
        {% endblock %}

        <!-- card body -->
        <div class="card shadow mb-4">
            {% include '@TeebbCore/fields/common/card_title.html.twig' with _context %}
            <div class="card-body">
                {% block form_widget %}{% endblock %}
            </div>
        </div>

    </div>
{% endblock %}